.gradle/*
build/*
target/*
.settings/*
.classpath
.project
.factorypath
.attach_pid*
*.iml
/target
.sts4-cache/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
_site/

# IDEA
**/.idea/*
!.idea/codeStyleSettings.xml
!.idea/gradle.xml
!.idea/vcs.xml
!.idea/dataSources.xml
!.idea/dataSources.local.xml
!.idea/findbugs-idea.xml
!.idea/checkstyle-idea.xml
!.idea/modules.xml
!.idea/modules/
!.idea/inspectionProfiles/
!.idea/runConfigurations/
out/*
